html, body{
	height: 100%;
}

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #ACACAC;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.display-block{
	display: block!important;
}
.display-none{
	display: none!important;
}
.inline-block{
	display: inline-block!important;
}

.absolute{
	position: absolute!important;
}

.relative{
	position: relative!important;
}

.wt100{
	width: 100%;
}

.ht100{
	height: 100%;
}
/*
* page enter game
*/
.modalwindow {
	min-height: 100%;
	text-align: center;
	position: relative;
	display: none;
}

.modalwindow > div{
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -100px;
}

.loadwindow__first {
	text-transform: uppercase;
	font-size: 54px;
	color: #E7E7E7;
}

.loadwindow__start {
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 34px;
	letter-spacing: 20px;
	padding: 20px 20px 20px 30px;
	color: #3B3B3B;
}
/*
*	main page
*/
.counter-box{
	width: 70%;
	float: right;
	margin-right: 10px;
}

.mainwindow {
	height: 100%;
	display: none;
	padding: 0;
	margin: 0;
	background-color: #E2F3BF;
}

.mainwindow .counter-wrapper{
	position: absolute;
	z-index: 999;
	width: 100%;
}

.counter-wrapper .btn-wrapper{
	vertical-align: top;
	margin: 10px;
	display: none;
}

.button {
	outline: none;
	border: none;
	width: 110px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	padding: 5px 0;
	background-color: #F3EC85;
	border-radius: 5px;
	color: #F3894C;
}

.counter {
	font-size: 32px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	color: #F3894C;
	text-align: right;
	background: none;
	border: none;
}

.game-island,
.game-modalcliffs,
.game-modalforest,
.game-modalpier,

#mouthsmile_1_,
#mouth_1_,
#left-arm_x5F_saw2,
#left-arm_x5F_saw,
#right-arm_x5F_saw2,
#right-arm_x5F_saw,
#first-right-arm_x5F_ex3,
#first-right-arm_x5F_ex2,

#left-arm_x5F_perf2,
#left-arm_x5F_perf,
#right-arm_x5F_perf2,
#right-arm_x5F_perf,
#first-right-arm_x5F_pick3,
#first-right-arm_x5F_pick2{
	display: none;
}

.svg-container {
	height: 100%;
}

.forest,
.character,
.game-modalcliffs,
.game-modalforest,
.game-modalpier{
	height: 100%;
	width: 100%;
}

#game-char-forest,
#game-char-cliffs{
	left: 25%;
}

/*
* media query
*/
@media (min-width: 550px) {
	.counter-box {
		width: 73%;
	}
}

@media (min-width: 750px) {
	.counter-box {
		width: 80%;
	}
}

@media (min-width: 1000px) {
	.counter-box {
		width: 85%;
	}
}

/*анимация руки торговца*/

#arm-dealer {
	animation-name: dealerarm_rotate;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	transform-origin: 4% 10%;
}
	

#first-arm-dealer {
	animation-name: dealer_firstarm_rotate;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	transform-origin: 18% 9%;
}



@keyframes dealerarm_rotate {
	10%,50% {
		transform: rotate(-70deg);
	}
	60% {
		transform: rotate(0deg);
	}
}
@keyframes dealer_firstarm_rotate {
	10% {
		transform: rotate(-90deg);
	}
	15% {
		transform: rotate(-20deg);
	}
	20% {
		transform: rotate(-90deg);
	}
	25% {
		transform: rotate(-20deg);
	}
	30% {
		transform: rotate(-90deg);
	}
	35% {
		transform: rotate(-20deg);
	}
	40% {
		transform: rotate(-90deg);
	}
	45% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(-90deg);
	}
	60% {
		transform: rotate(0deg);
	}
}

/*анимация человека в лесу*/

.pupils {
	animation-name: pupils;
	animation-duration: 2s;
}
.right_armex {
	animation-name: right_arm;
	animation-duration: 2s;
	transform-origin: 23% 50%;
}
.first_right_armex {
	animation-name: first_right_arm;
	animation-duration: 2s;
	transform-origin: 35% 57%;
}
.left_armex {
	animation-name: left_arm;
	animation-duration: 2s;
	transform-origin: 38% 49%;
}
.first_left_armex {
	animation-name: first_left_arm;
	animation-duration: 2s;
	transform-origin: 47% 55%;
}

@keyframes pupils {
	10%, 90% {
		transform: translate(0.6%, 0.3%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

@keyframes right_arm {
	70% {
		transform: rotate(-70deg);
	}
}
@keyframes first_right_arm {
	70% {
		transform: rotate(-50deg);
	}
}
@keyframes left_arm {
	70% {
		transform: rotate(-70deg);
	}
}
@keyframes first_left_arm {
	70% {
		transform: rotate(-70deg);
	}
}