html, body{
	height: 100%;
}

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #ACACAC;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.display-block{
	display: block!important;
}
.display-none{
	display: none!important;
}
.inline-block{
	display: inline-block!important;
}

.absolute{
	position: absolute!important;
}

.relative{
	position: relative!important;
}

.wt100{
	width: 100%;
}

.ht100{
	height: 100%;
}
/*
* page enter game
*/
.modalwindow {
	min-height: 100%;
	text-align: center;
	position: relative;
	display: none;
}

.modalwindow > div{
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -100px;
}

.loadwindow__first {
	text-transform: uppercase;
	font-size: 54px;
	color: #E7E7E7;
}

.loadwindow__start {
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 34px;
	letter-spacing: 20px;
	padding: 20px 20px 20px 30px;
	color: #3B3B3B;
}
/*
*	main page
*/
.counter-box{
	width: 70%;
	float: right;
	margin-right: 10px;
}

.mainwindow {
	height: 100%;
	display: none;
	padding: 0;
	margin: 0;
	background-color: #E2F3BF;
}

.mainwindow .counter-wrapper{
	position: absolute;
	z-index: 999;
	width: 100%;
}

.counter-wrapper .btn-wrapper{
	vertical-align: top;
	margin: 10px;
	display: none;
}

.button {
	outline: none;
	border: none;
	width: 110px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	padding: 5px 0;
	background-color: #F3EC85;
	border-radius: 5px;
	color: #F3894C;
}

.counter {
	font-size: 32px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	color: #F3894C;
	text-align: right;
	background: none;
	border: none;
}

.game-island,
.game-modalcliffs,
.game-modalforest,
.game-modalpier{
	display: none;
}

.svg-container {
	height: 100%;
}

.game-modalcliffs,
.game-modalforest,
.game-modalpier,
.game-modalcliffs img,
.game-modalforest img,
.game-modalpier img{
	height: 100%;
	width: 100%;
}

/*
* media query
*/
@media (min-width: 550px) {
	.counter-box {
		width: 73%;
	}
}

@media (min-width: 750px) {
	.counter-box {
		width: 80%;
	}
}

@media (min-width: 1000px) {
	.counter-box {
		width: 85%;
	}
}

/*анимация руки торговца*/

#arm-dealer {
	animation-name: dealerarm_rotate;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	transform-origin: 4% 10%;
}
	

#first-arm-dealer {
	animation-name: dealer_firstarm_rotate;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	transform-origin: 18% 9%;
}



@keyframes dealerarm_rotate {
	10%,50% {
		transform: rotate(-70deg);
	}
	60% {
		transform: rotate(0deg);
	}
}
@keyframes dealer_firstarm_rotate {
	10% {
		transform: rotate(-90deg);
	}
	15% {
		transform: rotate(-20deg);
	}
	20% {
		transform: rotate(-90deg);
	}
	25% {
		transform: rotate(-20deg);
	}
	30% {
		transform: rotate(-90deg);
	}
	35% {
		transform: rotate(-20deg);
	}
	40% {
		transform: rotate(-90deg);
	}
	45% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(-90deg);
	}
	60% {
		transform: rotate(0deg);
	}
}

/*анимация человека*/
.pupils {
	animation-name: pupils;
	animation-duration: 2s;
}
.right_armex {
	animation-name: right_armex;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	
}
.first_right_arm {
	animation-name: first_right_arm;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}
.left_arm {
	animation-name: left_arm;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}
.first_left_arm {
	animation-name: first_left_arm;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}




@keyframes pupils {
	10%, 90% {
		transform: translate(10%, 18%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

@keyframes right_armex {
	70% {
		transform: rotate(-50deg);
		transform-origin: 10% 40%;
	}
}
@keyframes first_right_arm {
	70% {
		transform: rotate(-30deg);
		transform-origin: 4% 17%;
	}
}
@keyframes left_arm {
	70% {
		transform: rotate(-70deg);
		transform-origin: 8% 20%;
	}
}
@keyframes first_left_arm {
	70% {
		transform: rotate(-80deg);
		transform-origin: 13% 8%;
	}
}

/*Анимация человека в скалах*/

