body {
	font-family: 'Fira Sans', sans-serif;
	
	overflow: hidden;
	background-color: #ACACAC;
	box-sizing: border-box;
}




.modalwindow {
	height: 100vh;
	text-align: center;
}
.loadwindow__first {
	text-transform: uppercase;
	font-size: 110px;
	letter-spacing: 30px;
	word-spacing: 30px;
	color: #E7E7E7; 
}
.loadwindow__start {
	margin-top: 70px;
	text-transform: uppercase;
	font-size: 70px;
	letter-spacing: 20px;
	padding: 20px 20px 20px 30px;
	color: #3B3B3B;
}





.mainwindow {
	height: 100vh;
	display: none;
	padding: 0;
	margin: 0;
	background-color: #E2F3BF;
}
.mainline {
	
}
.button {
	text-transform: uppercase;
	font-size: 20px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	padding: 5px 20px;
	background-color: #F3EC85;
	border-radius: 5px;
	letter-spacing: 5px;
	color: #F3894C; 
}
.outstone {
	font-size: 32px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	letter-spacing: 5px;
	color: #F3894C; 
}
.outwood {
	font-size: 32px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	letter-spacing: 5px;
	color: #F3894C; 
}






.svg-container {
	position: relative;
}
.svg-content {

}




#game_island {
	}

#game_cliffs {
	display: none;
}

#game_forest {
	display: none;
}

#game_pier {
	display: none;
}



/*анимация руки торговца*/

#arm-dealer {
	animation-name: dealerarm_rotate;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	transform-origin: 4% 10%;
}
	

#first-arm-dealer {
	animation-name: dealer_firstarm_rotate;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	transform-origin: 18% 9%;
}



@keyframes dealerarm_rotate {
	10%,50% {
		transform: rotate(-70deg);
	}
	60% {
		transform: rotate(0deg);
	}
}
@keyframes dealer_firstarm_rotate {
	10% {
		transform: rotate(-90deg);
	}
	15% {
		transform: rotate(-20deg);
	}
	20% {
		transform: rotate(-90deg);
	}
	25% {
		transform: rotate(-20deg);
	}
	30% {
		transform: rotate(-90deg);
	}
	35% {
		transform: rotate(-20deg);
	}
	40% {
		transform: rotate(-90deg);
	}
	45% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(-90deg);
	}
	60% {
		transform: rotate(0deg);
	}
}

/*анимация человека в лесу*/
.hba_up {
	animation-name: hba_up;
	animation-duration: 2s;
}
.pupils {
	animation-name: pupils;
	animation-duration: 2s;
}
.right_arm {
	animation-name: right_arm;
	animation-duration: 2s;
	transform-origin: 1% 38%;
}
.first_right_arm {
	animation-name: first_right_arm;
	animation-duration: 2s;
	transform-origin: 6% 20%;
}

@keyframes hba_up {
	70% {
		transform: translateY(-10%);
	}
}

@keyframes pupils {
	10%, 90% {
		transform: translate(10%, 18%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

@keyframes right_arm {
	70% {
		transform: rotate(-70deg);
	}
}
@keyframes first_right_arm {
	70% {
		transform: rotate(-50deg);
	}
}
